@font-face {
  font-family: "Poppins-Regular";
  src: url("../fonts/Poppins-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}

html,
body {
  padding: 0;
  margin: 0;
  font-size: 1rem;
  overflow-x: hidden;
  width: 100vw;
  min-height: 100vh;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a {
  padding: 0;
  margin: 0;
}

body {
  background-color: #f0f0f8;
  color: #444;
  font-family: Poppins-Regular, sans-serif;
  display: grid;
  grid-template-rows: 3em 1fr 3em;
  grid-template-areas:
    "header"
    "content"
    "footer";
}

a {
  text-decoration: none;
  color: #5555cc;
}

#header {
  grid-area: header;
  background-color: #444;
  width: 100vw;
  display: flex;
  align-items: center;
}

#header a {
  color: whitesmoke;
}

#header nav {
  display: flex;
  flex: 1;
}

#header .nav-logo {
  flex: 1;
  padding-left: 1em;
}

#header .nav-right-section {
  display: flex;
  justify-content: space-between;
  padding-right: 0.5em;
}

#header .nav-right-section a {
  padding: 0 0.5em;
}

.content {
  grid-area: content;
  padding: 1.5em;
}

#footer {
  grid-area: footer;
  background-color: white;
  color: #5555cc;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (min-width: 1200px) {
  #header .nav-right-section {
    padding-right: 1.5em;
  }
}
